<div class="row">
  <div class="col-lg-12">
    <ol class="ibox-title breadcrumb">
      <li>
        <a>{{parentPage}}</a>
      </li>
      <li class="active">
        <strong>{{currentPage}}</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="row">
          <div class="col-lg-12">
            <p-progressBar [value]="value"></p-progressBar>
          </div>      
      </div>
      <div class="ibox-content">
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-3">
              <div class="form-group">
                <input #myInputFiles type="file" (change)="onFileChange($event)" multiple="false" />
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <button *ngIf="isAdd" class="btn btn-primary pull-right" (click)="uploadExcelNew()" [disabled]="isUpload">
                  <i class="fa fa-arrow-circle-o-up"></i> Upload data</button>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-group">
                <button *ngIf="isAdd" class="btn btn-danger pull-right" (click)="clearData()">
                  <i class="fa fa-times-circle-o"></i> Hủy</button>
              </div>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
              <div class="form-group">
              <a class="btn btn-warning pull-right" href="/assets/excel/sample/UpdateReceiver.xlsx">
                  <i class="fa fa-arrow-circle-o-down"></i> Download bảng mẫu</a>
              </div>
            </div>        
        </div>

        <div class="row" *ngIf="msgWarn">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <p class="msg-invalid" style="font-size: 16px;">{{msgWarn}}</p>
          </div>
          <div class="col-sm-3"></div>
        </div>

        <br/>
        <p-table #dt [value]="customerInfoLogs" [responsive]="true" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[10,20,50,100]"
          [totalRecords]="customerInfoLogs?.length" sortField="key" sortMode="multiple" scrollable="true">
          <ng-template pTemplate="header">
            <tr>
              <th class="p-col-stt">STT</th>
              <th class="p-col-normal">Mã KH gửi</th>
              <th class="p-col-normal">Mã KH nhận</th>
              <th class="p-col-normal">Tên công ty</th>
              <th class="p-col-normal">Tên Kh nhận</th>
              <th class="p-col-normal">Số đt nhận</th>
              <th class="p-col-normal">Địa chỉ nhận</th>
              <th class="p-col-normal">Tên Tỉnh thành</th>
              <th class="p-col-normal">Tên quận huyện</th>
              <th class="p-col-normal">Tên phường xã</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr class="isValid{{rowData.isValid}}" title="{{rowData.message}}">
              <td class="p-col-stt">
                  {{rowData.key}}
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.senderCode">
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.code">
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.companyName">
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.name">
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.phoneNumber">
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.address">
              </td>                            
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.provinceName">
              </td>
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.districtName">
              </td>                        
              <td class="p-col-normal" style="padding: 0">
                  <input type="text" class="form-control" style="height: 40px" [(ngModel)]="rowData.wardName">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Tổng: {{customerInfoLogs?.length | number}} KH nhận
          </ng-template>                     
      </p-table>
      </div>
    </div>
  </div>
</div>
