<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " [routerLink]="['/']">
                <i class="fa fa-bars"></i>
            </a>
            <div role="search" class="navbar-form-custom">
                <div class="form-group">
                    <input #searchGBTemplate type="text" placeholder="Tra cứu vận đơn..." class="form-control" name="top-search" id="top-search"
                        [(ngModel)]="searchShipmentNumberGB" (keyup.enter)="onEnterSearchGB(searchGBTemplate)" />
                </div>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-left">
            <!-- <li>
                    <p-dropdown styleClass="select-input form-control" [options]="shipmentTypes" [(ngModel)]="selectedType" [style]="{'width':'100%'}">
                </p-dropdown>
            </li> -->
        </ul>
        <ul class="nav navbar-top-links navbar-right" style="margin-right: 15px;">
            <!-- <li>
                <a [popover]="popTemplate" popoverTitle="Nhập số để gọi" placement="bottom">
                    <i class="fa fa-phone"></i> Quay số nhanh
                </a>
            </li> -->
            <li class="dropdown">
                <a class="m-r-sm text-muted welcome-message dropdown-toggle" data-toggle="dropdown">
                    <img class="m-profile-small" src="assets/images/profile_small.jpg" /> {{userFullName}}
                </a>
                <ul class="dropdown-menu dropdown-account-info">
                    <li>
                        <a href="/thay-doi-mat-khau">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="nav-label">Thay đổi mật khẩu</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="display:none;">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/images/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following
                                <strong>Monica Smith</strong>.
                                <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/images/a4.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following
                                <strong>Monica Smith</strong>.
                                <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/images/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love
                                <strong>Kim Smith</strong>.
                                <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="mailbox.html">
                                <i class="fa fa-envelope"></i>
                                <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown" style="display: none;">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="mailbox.html">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="profile.html">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="grid_options.html">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="notifications.html">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="http://dsc.vn/flashship/crm/userguide.html" title="Hướng dẫn sử dụng phần mềm" target="_blank">
                    <i class="fa fa-info-circle text-blue" style="font-size: 16px;"></i>
                </a>
            </li>
            <li>
                <a (click)="logOut()">
                    <i class="fa fa-sign-out"></i> Đăng xuất
                </a>
            </li>
            <li>

            </li>
            <li style="display: none;">
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>

<ng-template #popTemplate>
    <div class="input-group">
        <input class="form-control input-sm" [(ngModel)]="phoneNumber" type="text" style="width:200px;">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" (click)="call()">Gọi
            </button>
        </span>
    </div>
</ng-template>